/* style.css */

body {

    font-family: "Montserrat";

    background-color: rgb(183, 212, 234);

    color: rgb(183, 212, 234);

    text-align: center;

}


img {

 width: 100px;

 height: 100px;

}

